.card {
    border: 1.5px solid #c0c0c0;
    padding: 5px 10px 5px 10px;
    margin: 15px 0;
    border-radius: 5px;
}

.card-body h2 {
    font-size: 18px;
    color: rgb(94, 96, 228);
    margin-bottom: 10px;
    font-weight: 600;
}

#info-cart-wp h2 {
    margin-bottom: 15px;
}

.mr-5 {
    margin-right: 5px;
}

button.place-order-btn {
    padding: 5px 25px;
    background-color: rgb(94, 214, 214);
}

h1.order-id {
    font-size: 18px;
    color: rgb(94, 96, 228);
    font-weight: 600;
    max-width: 1280px;
    margin: 15px 0 5px 15px;
}
